# 10814번 나이순 정렬

### 문제
- 온라인 저지에 가입한 사람들의 나이와 이름이 가입한 순서대로 주어진다. 이때, 회원들을 나이가 증가하는 순으로, 나이가 같으면 먼저 가입한 사람이 앞에 오는 순서로 정렬하는 프로그램을 작성하시오.

### 입력
- 첫째 줄에 온라인 저지 회원의 수 N이 주어진다. (1 ≤ N ≤ 100,000)

- 둘째 줄부터 N개의 줄에는 각 회원의 나이와 이름이 공백으로 구분되어 주어진다. 나이는 1보다 크거나 같으며, 200보다 작거나 같은 정수이고, 이름은 알파벳 대소문자로 이루어져 있고, 길이가 100보다 작거나 같은 문자열이다. 입력은 가입한 순서로 주어진다.

### 출력
- 첫째 줄부터 총 N개의 줄에 걸쳐 온라인 저지 회원을 나이 순, 나이가 같으면 가입한 순으로 한 줄에 한 명씩 나이와 이름을 공백으로 구분해 출력한다.

### 예제 입력 1 
```
3
21 Junkyu
21 Dohyun
20 Sunyoung
```
### 예제 출력 1 
```
20 Sunyoung
21 Junkyu
21 Dohyun
```

In [1]:
#참고1
n = int(input())
arr = []
for i in range(n):
    arr.append(list(map(int,input().split())))

In [2]:
#참고2
# 데이터의 개수 입력
n = int(input())

# 각 데이터를 공백을 기준으로 구분하여 입력
data = list(map(int, input().split()))

print(n)
print(data)

2
[1, 5]

In [4]:
#참고3
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,10]

result = list(map(lambda a,b: a+b, list1,list2))
print(result)

[7, 9, 11, 13, 15]

In [2]:
n = int(input('입력개수: '))
list =  [int(i) for i in input().split()]
print(list)

[1, 2]

In [7]:
n = int(input('입력개수'))
list = []

for i in range(n):
    age, name = map(str, input().split()) 
    age = int(age) #나이는 int
    list.append((age,name)) 

list.sort(key = lambda a:(a[0])) #lambda 인수: 식
#def temp(a):   return(a[0])

for a in list:
    print(a[0],a[1])

20 Sunyoung
21 Junkyu
21 Dohyun

# 10825번 국영수 
### 문제
- 도현이네 반 학생 N명의 이름과 국어, 영어, 수학 점수가 주어진다. 이때, 다음과 같은 조건으로 학생의 성적을 정렬하는 프로그램을 작성하시오.

    - 국어 점수가 감소하는 순서로
    - 국어 점수가 같으면 영어 점수가 증가하는 순서로
    - 국어 점수와 영어 점수가 같으면 수학 점수가 감소하는 순서로
    - 모든 점수가 같으면 이름이 사전 순으로 증가하는 순서로 (단, 아스키 코드에서 대문자는 소문자보다 작으므로 사전순으로 앞에 온다.)
### 입력
- 첫째 줄에 도현이네 반의 학생의 수 N (1 ≤ N ≤ 100,000)이 주어진다. 둘째 줄부터 한 줄에 하나씩 각 학생의 이름, 국어, 영어, 수학 점수가 공백으로 구분해 주어진다. 점수는 1보다 크거나 같고, 100보다 작거나 같은 자연수이다. 이름은 알파벳 대소문자로 이루어진 문자열이고, 길이는 10자리를 넘지 않는다.

### 출력
- 문제에 나와있는 정렬 기준으로 정렬한 후 첫째 줄부터 N개의 줄에 걸쳐 각 학생의 이름을 출력한다.

### 예제 입력 1 
```
12
Junkyu 50 60 100
Sangkeun 80 60 50
Sunyoung 80 70 100
Soong 50 60 90
Haebin 50 60 100
Kangsoo 60 80 100
Donghyuk 80 60 100
Sei 70 70 70
Wonseob 70 70 90
Sanghyun 70 70 80
nsj 80 80 80
Taewhan 50 60 90

```
### 예제 출력 1 
```
Donghyuk
Sangkeun
Sunyoung
nsj
Wonseob
Sanghyun
Sei
Kangsoo
Haebin
Junkyu
Soong
Taewhan

- reverse = True #내림차순
- reverse = False #오름차순

In [1]:
#순서뒤죽박죽...ㅠ
n = int(input('입력값 개수:'))
list = []

for i in range(n):
    name, kor, eng, math = map(str, input().split())
    kor = int(kor)
    eng = int(eng)
    math = int(math)
    list.append((name,kor,eng,math))

list.sort(key = lambda x: (x[1]), reverse= True) #국어점수가 감소하는 순서
list.sort(key = lambda x: (x[2]), reverse= False) #국어점수= -> 영어점수 증가하는 순서
list.sort(key = lambda x: (x[3]), reverse= True) #국어,영어 = -> 수학점수 감소하는 순서
list.sort(key = lambda x: (x[0]), reverse= False) #국어,영어,수학 = ->  알파벳 순

for x in list:
    print(x[0])

Donghyuk
Haebin
Junkyu
Kangsoo
Sanghyun
Sangkeun
Sei
Soong
Sunyoung
Taewhan
Wonseob
nsj

In [12]:

n = int(input('입력값 개수:'))
list = []

for i in range(n):
    name, kor, eng, math = map(str, input().split())
    list.append((name,int(kor),int(eng),int(math)))

list.sort(key = lambda x: (-x[1],x[2],-x[3],x[0])) #국어,수학 감소 -


for x in list:
    print(x[0])

Donghyuk
Sangkeun
Sunyoung
nsj
Wonseob
Sanghyun
Sei
Kangsoo
Haebin
Junkyu
Soong
Taewhan