# 10818번
- https://www.acmicpc.net/problem/10818

## 문제
N개의 정수가 주어진다. 이때, 최솟값과 최댓값을 구하는 프로그램을 작성하시오.

## 입력
첫째 줄에 정수의 개수 N (1 ≤ N ≤ 1,000,000)이 주어진다. 둘째 줄에는 N개의 정수를 공백으로 구분해서 주어진다. 모든 정수는 -1,000,000보다 크거나 같고, 1,000,000보다 작거나 같은 정수이다.

## 출력
첫째 줄에 주어진 정수 N개의 최솟값과 최댓값을 공백으로 구분해 출력한다.
```
예제 입력 1 
5
20 10 35 30 7

예제 출력 1 
7 35
```

In [8]:
n = int(input())
n_list = list(map(int,input().split()))
max = n_list[0]
min = n_list[0]
for i in n_list:
    if i > max:
        max = i
    elif i < min:
        min = i
print(min,max)

7 35

In [7]:
inputNum = int(input())
N_list = list(map(int,input().split()))
# 아까 이 오류때문에 실행 안됨 -> 예약어를 변수명으로 사용하였기 때문.(sum(),min(),max()등등)-> del min, del sum, del max 로 변수 삭제 후 다시 실행 하면 끄읕~
# 'int' object is not callable
# del min 
# del max 
print(min(N_list),max(N_list))

7 35

In [ ]:
n = int(input())
n_list = list(map(int,input().split()))
max = -1000000
min = 1000000
for i in n_list:
    if i > max:
        max = i
    elif i < min:
        min = i
print(min,max)

# 2562번 최댓값
- https://www.acmicpc.net/problem/2562 
# 문제
9개의 서로 다른 자연수가 주어질 때, 이들 중 최댓값을 찾고 그 최댓값이 몇 번째 수인지를 구하는 프로그램을 작성하시오.

예를 들어, 서로 다른 9개의 자연수

3, 29, 38, 12, 57, 74, 40, 85, 61

이 주어지면, 이들 중 최댓값은 85이고, 이 값은 8번째 수이다.

# 입력
첫째 줄부터 아홉 번째 줄까지 한 줄에 하나의 자연수가 주어진다. 주어지는 자연수는 100 보다 작다.

# 출력
첫째 줄에 최댓값을 출력하고, 둘째 줄에 최댓값이 몇 번째 수인지를 출력한다.
```
예제 입력 1 
3
29
38
12
57
74
40
85
61
예제 출력 1 
85
8
```

# 9012번 괄호 
- https://www.acmicpc.net/problem/9012

In [30]:
n = int(input())
for j in range(n):
    b = input()
    b_list = list(b)
    sum = 0
    for i in b_list:
        if i =='(':
            sum += 1
        elif i == ')':
            sum -= 1
        if sum < 0:
            print('NO')
            break
    if sum == 0:
        print('YES')
    elif sum > 0:
        print('NO')

NO
NO
YES
NO
YES
NO

# 9372번  상근이의 여행
- https://www.acmicpc.net/problem/9372

- 상근이가 모든 국가를 여행하기 위해 타야하는 
- 비행기 종류의 최소 개수 출력
### 도로나 이런 식으로 노드 관련된 문제는 DFS 혹은 BFS 방법으로 문제풀이
### 다익스트라 플로이드 와샬 -> 비용, 요금 등...

In [39]:
T = int(input())

for i in range(T):
    N,M = map(int,input().split()) # N이 국가, M이 비행기 종류 
    for j in range(M):
        a,b = map(int,input().split())
    print(N-1)

2
4

# 1153번 네 개의 소수
- https://www.acmicpc.net/problem/1153